<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.dao.ISysMenuDao">

    <select id="getParentMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE parent_id = ''
    </select>

    <select id="getChilds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE parent_id = #{id}
        <if test="menu.isShow != null">
          AND is_show = '1'
        </if>
        ORDER BY sort ASC,create_date DESC
    </select>

    <select id="getSort" resultType="Integer">
        SELECT max(sort) from sys_menu
        WHERE parent_id = #{parentId}
    </select>

    <select id="getCountChild" resultType="Integer">
        SELECT count(id) from sys_menu
        WHERE parent_id = #{parentId}
    </select>
    <select id="getChildIds" resultType="java.lang.String">
        SELECT id from sys_menu
        WHERE parent_id = #{parentId}
    </select>

    <delete id="deleteRoleMenu">
        DELETE FROM sys_role_menu WHERE menu_id=#{id}
    </delete>

    <update id="updateRelationStatus">
        UPDATE sys_role_menu
        <set>
            checked = '0'
        </set>
        WHERE menu_id = #{menuId,jdbcType=VARCHAR}
    </update>

</mapper>