<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.dao.ISysMenuDao">

    <select id="getParentMenu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE parent_id = ''
    </select>

    <select id="getChilds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE parent_id = #{id}
        ORDER BY sort ASC,create_date DESC
    </select>

</mapper>