<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.dao.ISysUserDao">
    <select id="searchUsers"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
    </select>
    <select id="getUserByUsername"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user WHERE login_name = #{loginName}
    </select>

    <select id="getUsers" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        WHERE 1 =1
        <if test="user.loginName != null and user.loginName != ''">
            AND login_name = #{user.loginName,jdbcType=VARCHAR}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND mobile = #{user.mobile,jdbcType=VARCHAR}
        </if>
        <if test="user.enable != null and user.enable != ''">
            AND enabled = #{user.enable,jdbcType=VARCHAR}
        </if>
        ORDER BY  create_date DESC
    </select>
    

    <select id="checkUser" resultType="int">
        SELECT COUNT(*) from sys_user
        where 1=1
        AND login_name = #{user.loginName}
        <if test="user.edit">
            AND login_name != (select login_name from sys_user where id = #{user.userId})
        </if>
    </select>

    <select id="getPermissions" resultType="String">
        SELECT permission FROM sys_menu WHERE id IN (SELECT DISTINCT  menu_id FROM sys_user ,sys_user_role,sys_role_menu
        WHERE id=#{id} AND id = user_id AND sys_user_role.role_id=sys_role_menu.role_id)
    </select>

    <insert id="insertRole">
        INSERT INTO sys_user_role (user_id,role_id) VALUES (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteRole" parameterType="java.lang.String">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </delete>
</mapper>