<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.dao.IScheduleJobLogDao">
    <resultMap id="BaseResultMap" type="com.htf.po.ScheduleJobLog">
        <id column="log_id" jdbcType="BIGINT" property="logId" />
        <result column="log_id" jdbcType="BIGINT" property="logId" />
        <result column="job_id" jdbcType="BIGINT" property="jobId" />
        <result column="bean_name" jdbcType="VARCHAR" property="beanName" />
        <result column="method_name" jdbcType="VARCHAR" property="methodName" />
        <result column="params" jdbcType="VARCHAR" property="params" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="error" jdbcType="VARCHAR" property="error" />
        <result column="times" jdbcType="INTEGER" property="times" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        log_id, job_id, bean_name, method_name, params, status, error, times, create_time
    </sql>

    <insert id="insert" keyProperty="logId" useGeneratedKeys="true">

        INSERT INTO schedule_job_log (job_id, bean_name, method_name, params, status, error, times, create_time) VALUES (#{jobId,jdbcType=BIGINT}, #{beanName,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{error,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" keyProperty="logId" useGeneratedKeys="true">
        INSERT INTO schedule_job_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobId != null">
                job_id,
            </if>
            <if test="beanName != null">
                bean_name,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="error != null">
                error,
            </if>
            <if test="times != null">
                times,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobId != null">
                #{jobId,jdbcType=BIGINT},
            </if>
            <if test="beanName != null">
                #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="error != null">
                #{error,jdbcType=VARCHAR},
            </if>
            <if test="times != null">
                #{times,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM schedule_job_log
        WHERE log_id = #{logId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByPrimaryKeys">
        DELETE FROM schedule_job_log where log_id in
        <foreach close=")" collection="list" item="item" open="(" separator=",">
        #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKey">
        UPDATE schedule_job_log
        <set>
            job_id = #{jobId,jdbcType=BIGINT},
            bean_name = #{beanName,jdbcType=VARCHAR},
            method_name = #{methodName,jdbcType=VARCHAR},
            params = #{params,jdbcType=VARCHAR},
            status = #{status,jdbcType=TINYINT},
            error = #{error,jdbcType=VARCHAR},
            times = #{times,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        </set>
        WHERE log_id = #{logId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective">
        UPDATE schedule_job_log
        <set>
            <if test="jobId != null">
                job_id = #{jobId,jdbcType=BIGINT},
            </if>
            <if test="beanName != null">
                bean_name = #{beanName,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="error != null">
                error = #{error,jdbcType=VARCHAR},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE log_id = #{logId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM schedule_job_log
        WHERE log_id = #{logId,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM schedule_job_log where log_id in
        <foreach close=")" collection="list" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByRecord" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM schedule_job_log
        <where>
            <if test="jobId != null">
                AND job_id = #{jobId}
            </if>
            <if test="beanName != null">
                AND bean_name = #{beanName}
            </if>
            <if test="methodName != null">
                AND method_name = #{methodName}
            </if>
            <if test="params != null">
                AND params = #{params}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="error != null">
                AND error = #{error}
            </if>
            <if test="times != null">
                AND times = #{times}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
        </where>
    </select>

    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM schedule_job_log
        <where>
            <if test="jobId != null">
                AND job_id ${jobId}
            </if>
            <if test="beanName != null">
                AND bean_name ${beanName}
            </if>
            <if test="methodName != null">
                AND method_name ${methodName}
            </if>
            <if test="params != null">
                AND params ${params}
            </if>
            <if test="status != null">
                AND status ${status}
            </if>
            <if test="error != null">
                AND error ${error}
            </if>
            <if test="times != null">
                AND times ${times}
            </if>
            <if test="createTime != null">
                AND create_time ${createTime}
            </if>
        </where>
            <if test="orderBy != null">
            ORDER BY ${orderBy}
            </if>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM schedule_job_log
    </select>

    <insert id="batchInsert" keyProperty="logId" useGeneratedKeys="true">
        INSERT INTO schedule_job_log (job_id, bean_name, method_name, params, status, error, times, create_time) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.jobId,jdbcType=BIGINT},
            #{item.beanName,jdbcType=VARCHAR},
            #{item.methodName,jdbcType=VARCHAR},
            #{item.params,jdbcType=VARCHAR},
            #{item.status,jdbcType=TINYINT},
            #{item.error,jdbcType=VARCHAR},
            #{item.times,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="batchUpdate">
        <foreach close="" collection="list" item="item" open="" separator=";">
            UPDATE schedule_job_log
            <set>
                <if test="item.jobId != null">
                    job_id = #{item.jobId,jdbcType=BIGINT},
                </if>
                <if test="item.beanName != null">
                    bean_name = #{item.beanName,jdbcType=VARCHAR},
                </if>
                <if test="item.methodName != null">
                    method_name = #{item.methodName,jdbcType=VARCHAR},
                </if>
                <if test="item.params != null">
                    params = #{item.params,jdbcType=VARCHAR},
                </if>
                <if test="item.status != null">
                    status = #{item.status,jdbcType=TINYINT},
                </if>
                <if test="item.error != null">
                    error = #{item.error,jdbcType=VARCHAR},
                </if>
                <if test="item.times != null">
                    times = #{item.times,jdbcType=INTEGER},
                </if>
                <if test="item.createTime != null">
                    create_time = #{item.createTime,jdbcType=TIMESTAMP}
                </if>
            </set>
            WHERE log_id = #{item.logId,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM schedule_job_log
    </select>
</mapper>