<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htf.dao.ISysRoleDao">
    <resultMap id="BaseResultMap" type="com.htf.po.SysRole">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="enabled" jdbcType="VARCHAR" property="enabled" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    </resultMap>

    <sql id="Base_Column_List">
        sys_role.id id, sys_role.name name, sys_role.remarks remarks, sys_role.create_user create_user, sys_role.create_date create_date, sys_role.enabled enabled, sys_role.update_user update_user, sys_role.update_date update_date
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">

        INSERT INTO sys_role (id, name, remarks, create_user, create_date, enabled, update_user, update_date) VALUES (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{enabled,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM sys_role
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrimaryKeys">
        DELETE FROM sys_role where id in
        <foreach close=")" collection="list" item="item" open="(" separator=",">
        #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKey">
        UPDATE sys_role
        <set>
            name = #{name,jdbcType=VARCHAR},
            remarks = #{remarks,jdbcType=VARCHAR},
            create_user = #{createUser,jdbcType=VARCHAR},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            enabled = #{enabled,jdbcType=VARCHAR},
            update_user = #{updateUser,jdbcType=VARCHAR},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeySelective">
        UPDATE sys_role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role where id in
        <foreach close=")" collection="list" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByRecord" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="remarks != null">
                AND remarks = #{remarks}
            </if>
            <if test="createUser != null">
                AND create_user = #{createUser}
            </if>
            <if test="createDate != null">
                AND create_date = #{createDate}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
            <if test="updateUser != null">
                AND update_user = #{updateUser}
            </if>
            <if test="updateDate != null">
                AND update_date = #{updateDate}
            </if>
        </where>
    </select>

    <select id="selectByConditions" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
        <where>
            <if test="name != null">
                AND name ${name}
            </if>
            <if test="remarks != null">
                AND remarks ${remarks}
            </if>
            <if test="createUser != null">
                AND create_user ${createUser}
            </if>
            <if test="createDate != null">
                AND create_date ${createDate}
            </if>
            <if test="enabled != null">
                AND enabled ${enabled}
            </if>
            <if test="updateUser != null">
                AND update_user ${updateUser}
            </if>
            <if test="updateDate != null">
                AND update_date ${updateDate}
            </if>
        </where>
            <if test="orderBy != null">
            ORDER BY ${orderBy}
            </if>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_role
    </select>

    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sys_role (id, name, remarks, create_user, create_date, enabled, update_user, update_date) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name,jdbcType=VARCHAR},
            #{item.remarks,jdbcType=VARCHAR},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.enabled,jdbcType=VARCHAR},
            #{item.updateUser,jdbcType=VARCHAR},
            #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="batchUpdate">
        <foreach close="" collection="list" item="item" open="" separator=";">
            UPDATE sys_role
            <set>
                <if test="item.name != null">
                    name = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.remarks != null">
                    remarks = #{item.remarks,jdbcType=VARCHAR},
                </if>
                <if test="item.createUser != null">
                    create_user = #{item.createUser,jdbcType=VARCHAR},
                </if>
                <if test="item.createDate != null">
                    create_date = #{item.createDate,jdbcType=TIMESTAMP},
                </if>
                <if test="item.enabled != null">
                    enabled = #{item.enabled,jdbcType=VARCHAR},
                </if>
                <if test="item.updateUser != null">
                    update_user = #{item.updateUser,jdbcType=VARCHAR},
                </if>
                <if test="item.updateDate != null">
                    update_date = #{item.updateDate,jdbcType=TIMESTAMP}
                </if>
            </set>
            WHERE id = #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM sys_role
    </select>
</mapper>